<%- include('partials/header') %>

<section class="not-found container">
  <h1>404</h1>
  <p>Page not found. Looks like this endpoint doesn't exist.</p>
  <a href="/" class="btn">Back to Home</a>
</section>

<%- include('partials/footer') %>
